.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: url("../../../public/login/bgimg.jpg") no-repeat;
  background-size: 100% 100%;
  background-position: 100% 100%;

  .van-button {
    width: 250px;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;

    .at-button {
      width: 250px;
    }
  }

  .passw-name-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .name {
      display: flex;
      justify-content: center;
      padding: 5px 10px;

      .at-input__title {
        text-align: center;
      }

      .at-input input {
        text-align: left;
      }

      .name-img {
        display: block;
        width: 32px;
        height: 32px;
        background: url("../../../public/login/sno.png") no-repeat;
        background-size: 100% 100%;
      }

      .passw-img {
        display: block;
        width: 32px;
        height: 32px;
        background: url("../../../public/login/pasw.png") no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}
