.home {
  height: 100%;
}

.text {
  display: block;
  color: #ccc;
  font-size: 20px;
  margin-block-start: 0;
  margin-block-end: 0;
  background-color: #2c323c;
}

.login {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: pink;
}
